@use "../../styles/_variables/colors";
@use "../../styles/_variables/paddings";

.bugs-page {
  &-title {
    text-align: start;
    padding: paddings.$padding-block-vertical 0;
    color: colors.$color-brand;
  }
}
